--extra-index-url https://download.pytorch.org/whl/cpu

streamlit==1.37.1
torch==2.8.0+cpu
torchvision==0.23.0+cpu

timm==0.9.16
imdlbenco==0.1.42
numpy==1.26.4
opencv-python-headless==4.8.1.78
Pillow==10.2.0
scikit-image==0.22.0
